* {
    all: unset; // Unsets everything so you can style everything from scratch
}

.bar {
    padding: 0 12px 0 12px;
    background: url("assets/bg.png") 100% 100%;
    border-radius: 25px;
}

.active_window {
    font-family: "JetBrainsMono Nerd Font Bold";
    font-size: x-large;
}
