* {
    all: unset; // Unsets everything so you can style everything from scratch
}

.bar {
    padding: 0 12px 0 12px;
    background: url("assets/bg.png") 100% 100%;
}

.workspace_1 {
    color: #ffffff;
    background-color: #ffffff;
}
