* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 20px;
  min-height: 0;
}

window#waybar {
  background: rgba(43, 48, 59, 0);
  color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: #64727D;
  border-bottom: 3px solid white;
}

#mode,
#clock,
#battery {
  padding: 0 10px;
}

#mode {
  background: #64727D;
  border-bottom: 3px solid white;
}

#clock {
  font-weight: 900;
  font-size: xx-large;
}
#network{
  font-weight: 900;
  font-size: large;
}

#battery {
  background-color: #ffffff;
  color: black;
}

#battery.charging {
  color: white;
  background-color: #26A65B;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f53c3c;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cava {
  min-width: 512px;
  font-size: 15px;
  padding-top: 10px;
}

.modules-left {
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  padding: 0px 0 5px 0;
  border-radius: 0 0 15px 0;
  padding: 0 15px 0 15px
}
.modules-center {
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  padding: 0px 0 5px 0;
  border-radius: 0 0 15px 15px;
  padding: 0 15px 0 15px
}